<!DOCTYPE>
<HTML>
    <head>
        <meta charset="utf-8">
        <!--
        <link rel="stylesheet" type="text/css" href="http://todomvc.com/architecture-examples/angularjs/bower_components/todomvc-common/base.css" />
        -->
        <link rel="stylesheet" type="text/css" href="../../../../todos/src/css/base.css" />
        <script src="lib/jquery-2.1.0.min.js"></script>
        <script src="lib/mustache.js" ></script>
        <script src="js/model.js" ></script>
        <script src="js/controller.js" ></script>
    </head>
    <body class="learn-bar">
        <script src="js/app.js"></script>        
    </body>
</HTML>