<!DOCTYPE>
<HTML>
    <head>
        <link rel="stylesheet" type="text/css" href="../src/css/base.css" />
    </head>
    <body>
        <section id="todoapp">
            <header id="header">
                <h1>todos</h1>
                <form><input id="new-todo" placeholder="What needs to be done?" autofocus /></form>
            </header>
            <section id="main">
                <ul id="todo-list">
                    <li><div class="view"><label>Rule the web</label></div></li>
                </ul>
            </section>
        </section>
    </body>
</HTML>